/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
#vlabsimg{
  height: 40px;
  width: 150px;
}
.div2{
  margin:5%;
  flex: 50%;
  padding: 20px;
}
.div2{
  display: flex;
}
.footer{
  padding:2.5%;
  background-color:darkblue;
  color:white;
  text-align:center;
}
.fa {
  padding:10px;
  width: 30px;
  text-align:center;
  height: 30px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #ea4c89;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.d2{
  width:40%;
  display:inline-block;
  margin-left:15%;
  vertical-align:top;
}
#button1{
  background-color:gray;
  color:white;
  padding:1%;
}
.div4{
  margin-left:40%;
  margin-right:40%;
  width:20%;
}
#myBtn {
  //display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: lightblue; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  border-radius:50%;
}

#myBtn:hover {
  background-color: #555; 
}
#nav{
  background-color: darkblue;
}
.navbar-right > li.active > a, 
.navbar-right > li.active > a:focus, 
.navbar-right > li.active > a:hover {
  background-color: green !important;
}
.flip-card {
  flex: 50%;
  margin: 10%;
  background-color: white;
  width: 300px;
  height: 300px;
 /* border: 1px solid #f1f1f1;
 */ perspective: 1000px; /* Remove this if you don't want the 3D effect */
  box-shadow: 10px 10px 5px grey;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #FFFF66;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: lightyellow;
  color: black;
  transform: rotateY(180deg);
}

